@import "../styles/variables.css";
@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
}

@layer base {
  body {
    background-color: var(--bg-app);
    color: var(--text-main);
    font-family: var(--font-inter), sans-serif;
  }
}
